In [1]:
import pandas as pd
import numpy as np

In [61]:
df = pd.read_csv("Titanic - Data.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [62]:
print(len(df['Age'].dropna()))
print(int(sum(df['Age'].dropna()/714)))
df['Age'] = df['Age'].fillna(int(sum(df['Age'].dropna()/714)))

714
29

In [63]:
df['Cabin'] = df['Cabin'].fillna('N0')

In [6]:
'''df.append(df)'''

'df.append(df)'

In [7]:
'''df = df.dropna(axis=0)
df'''

'df = df.dropna(axis=0)\ndf'

In [8]:
'''import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
#plt(data=df, x="Age", y="Survived")
plt.figure(1)
fig = plt.figure(figsize=(10, 7))
#plt.title("Research Interest Across Years (1997-2020) - Science Direct")
plt.bar(df['Age'], df['Survived'], marker="o")
plt.xlabel("Age")
plt.ylabel("Survived")
plt.show()
#fig.savefig('Research Interest Across Years.png', dpi=300)'''

'import matplotlib.pyplot as plt\nimport seaborn as sns\nsns.set()\n#plt(data=df, x="Age", y="Survived")\nplt.figure(1)\nfig = plt.figure(figsize=(10, 7))\n#plt.title("Research Interest Across Years (1997-2020) - Science Direct")\nplt.bar(df[\'Age\'], df[\'Survived\'], marker="o")\nplt.xlabel("Age")\nplt.ylabel("Survived")\nplt.show()\n#fig.savefig(\'Research Interest Across Years.png\', dpi=300)'

In [64]:
items = []
for count, item in df['Cabin'].iteritems(): 
    items.append(item[0])

In [65]:
df2 = df.apply(lambda col: features_encoder.fit_transform(col.astype(str)), axis=0, result_type='expand')

In [134]:
# Importing LabelEncoder to transform text data into numbers.
from sklearn import preprocessing
# Creating labelEncoder object.
features_encoder = preprocessing.LabelEncoder()
#Embarked_encoded = features_encoder.fit_transform(df['Embarked'])
Sex_encoded = features_encoder.fit_transform(df['Sex'])
Cabin_encoded = features_encoder.fit_transform(items)
#Embarked_encoded = features_encoder.fit_transform(df['Embarked'])

features = list(zip(Sex_encoded, df['Pclass'], df['Age'], df['Fare'], df2['Embarked']))

In [135]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features, df['Survived'],
                                                    test_size=0.20, random_state=0)

In [136]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,N0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,N0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,N0,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,N0,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.0,1,2,W./C. 6607,23.4500,N0,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,N0,Q

In [137]:
from sklearn.linear_model import LogisticRegression

#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# all parameters not specified are set to their defaults
logisticRegr = LogisticRegression()

logisticRegr.fit(x_train, y_train)

# Use score method to get accuracy of model
score = logisticRegr.score(x_test, y_test)

y_pred = logisticRegr.predict(x_test)


print(score)
# Model Accuracy: how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

# Model Precision: what percentage of positive tuples are labeled as such?
print("Precision:",metrics.precision_score(y_test, y_pred))

# Model Recall: what percentage of positive tuples are labelled as such?
print("Recall:",metrics.recall_score(y_test, y_pred))

0.7988826815642458
Accuracy: 0.7988826815642458
Precision: 0.7323943661971831
Recall: 0.7536231884057971

In [178]:
#RandomForest
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(bootstrap = False,
 max_depth = 110,
 max_features = 1,
 min_samples_leaf = 3,
 min_samples_split = 10,
 n_estimators = 200)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(x_train,y_train)

y_pred=clf.predict(x_test)

y_pred = clf.predict(x_test)

# Use score method to get accuracy of model
score = clf.score(x_test, y_test)
print(score)
# Model Accuracy: how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

# Model Precision: what percentage of positive tuples are labeled as such?
print("Precision:",metrics.precision_score(y_test, y_pred))

# Model Recall: what percentage of positive tuples are labelled as such?
print("Recall:",metrics.recall_score(y_test, y_pred))

0.8435754189944135
Accuracy: 0.8435754189944135
Precision: 0.8727272727272727
Recall: 0.6956521739130435

In [122]:
'''from sklearn.model_selection import GridSearchCV
# Create the parameter grid based on the results of random search 
param_grid = {
    'bootstrap': [True],
    'max_features': [1, 2, 3],
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [8, 10, 12],
    'n_estimators': [100, 200, 300, 1000]
}

# Instantiate the grid search model
grid_search = GridSearchCV(estimator = clf, param_grid = param_grid, 
                          cv = 3, n_jobs = -1, verbose = 2)

grid_search.fit(x_train, y_train)
best_grid = grid_search.best_estimator_
grid_search.best_params_'''

"from sklearn.model_selection import GridSearchCV\n# Create the parameter grid based on the results of random search \nparam_grid = {\n    'bootstrap': [True],\n    'max_features': [1, 2, 3],\n    'min_samples_leaf': [3, 4, 5],\n    'min_samples_split': [8, 10, 12],\n    'n_estimators': [100, 200, 300, 1000]\n}\n\n# Instantiate the grid search model\ngrid_search = GridSearchCV(estimator = clf, param_grid = param_grid, \n                          cv = 3, n_jobs = -1, verbose = 2)\n\ngrid_search.fit(x_train, y_train)\nbest_grid = grid_search.best_estimator_\ngrid_search.best_params_"

In [89]:
# Import train_test_split function
from sklearn.model_selection import train_test_split

#Import svm model
from sklearn import svm

#Create a svm Classifier
clf = svm.SVC(kernel='linear') # Linear Kernel

#Train the model using the training sets
clf.fit(x_train, y_train)

#Predict the response for test dataset
y_pred = clf.predict(x_test)


# Model Accuracy: how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

# Model Precision: what percentage of positive tuples are labeled as such?
print("Precision:",metrics.precision_score(y_test, y_pred))

# Model Recall: what percentage of positive tuples are labelled as such?
print("Recall:",metrics.recall_score(y_test, y_pred))

Accuracy: 0.7877094972067039
Precision: 0.7313432835820896
Recall: 0.7101449275362319

In [51]:
from sklearn.model_selection import GridSearchCV
# Create the parameter grid based on the results of random search 
param_grid = {
    'bootstrap': [True],
    'max_depth': np.arange(50, 200, 30),
    'max_features': np.arange(1, 20),
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [8, 10, 12],
    'n_estimators': [100, 200, 300, 1000]
}

In [131]:
# Instantiate the grid search model
grid_search = GridSearchCV(estimator = clf, param_grid = param_grid, 
                          cv = 3, n_jobs = -1, verbose = 2)

grid_search.fit(x_train, y_train)
best_grid = grid_search.best_estimator_
grid_search.best_params_

Fitting 3 folds for each of 3420 candidates, totalling 10260 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:    4.4s
[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:   28.6s
[Parallel(n_jobs=-1)]: Done 349 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done 632 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done 997 tasks      | elapsed:  2.8min
[Parallel(n_jobs=-1)]: Done 1442 tasks      | elapsed:  3.3min
[Parallel(n_jobs=-1)]: Done 1969 tasks      | elapsed:  4.0min
[Parallel(n_jobs=-1)]: Done 2576 tasks      | elapsed:  6.0min
[Parallel(n_jobs=-1)]: Done 3265 tasks      | elapsed:  7.1min
[Parallel(n_jobs=-1)]: Done 4034 tasks      | elapsed:  8.0min
[Parallel(n_jobs=-1)]: Done 4885 tasks      | elapsed: 10.6min
[Parallel(n_jobs=-1)]: Done 5816 tasks      | elapsed: 11.6min
[Parallel(n_jobs=-1)]: Done 6829 tasks      | elapsed: 14.5min
[Parallel(n_jobs=-1)]: Done 7922 tasks      | elapsed: 15.8min
[Parallel(n_jobs=-1)]: Done 9097 tasks      | elapsed: 19.4min
[Parallel(n_jobs=-1)]: Done 10260 out of 10260 | elapsed: 21.5min finished

{'bootstrap': True,
 'max_depth': 110,
 'max_features': 2,
 'min_samples_leaf': 3,
 'min_samples_split': 10,
 'n_estimators': 200}